<div id="content">
    <div class="page-content-wrapper">
        <div class="card">
            <div class="header-page card-header text-center">
                <h3>Danh sách bài chia sẻ</h3>
            </div>
            <div class="card-body content-page">
                <div class="header-content">
                    
                </div>
                <div class="body-content">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>STT</td>
                                <td>Hình ảnh</td>
                                <td>Tên bài đăng</td>
                                <td>Họ tên người đăng</td>
                                <td>Ngày đăng</td>
                                <td>Nội dung</td>
                                <td>Chức năng</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>STT</td>
                                <td>Hình ảnh</td>
                                <td>Tên bài đăng</td>
                                <td>Họ tên người đăng</td>
                                <td>Ngày đăng</td>
                                <td>Nội dung</td>
                                <td>
                                    <button type="button" class="btn btn-view" id="btn-view">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" id="btn-remove" class="btn btn-remove">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>