<div id="content">
    <div class="page-content-wrapper">
        <div class="card">
            <div class="header-page card-header text-center">
                <h3>Danh sách bình luận</h3>
            </div>
            <div class="card-body content-page">
                <div class="header-content">
                    <button class="btn btn-success">Thêm mới</button>
                </div>
                <div class="body-content">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>STT</td>
                                <td>Tên đăng nhập</td>
                                <td>Họ tên</td>
                                <td>Tên Cha</td>
                                <td>Tên Mẹ</td>
                                <td>Email</td>
                                <td>Địa chỉ</td>
                                <td>Số điện thoại</td>
                                <td>Chức năng</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>STT</td>
                                <td>Tên đăng nhập</td>
                                <td>Họ tên</td>
                                <td>Tên Cha</td>
                                <td>Tên Mẹ</td>
                                <td>Email</td>
                                <td>Địa chỉ</td>
                                <td>Số điện thoại</td>
                                <td>
                                    <button type="button" class="btn btn-view" id="btn-view">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-update" id="btn-update">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" id="btn-remove" class="btn btn-remove">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>