<footer>
    <div class="contact">
        <div class="row">
            <div class="col-md-6">
                <div class="address-contact">
                    <p>
                        <span>Địa chỉ : </span>
                        Khối 7, Phường Quỳnh Xuân, Thị Xã Hoàng Mai, Tỉnh Nghệ An
                    </p>
                    <p>
                        <span>Email : </span>
                        gxxuanan@gmail.com
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="phone-contact">
                    <p>
                        <span>Số điện thoại : </span>
                        0999999990
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>
            <i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2018 - Giáo Xứ Xuân An
        </p>
    </div>
</footer>