<aside>
    <ul>
        <li><a href="/admin/users">Quản lý người dùng</a></li>
        <li><a href="/admin/news">Quản lý tin tức</a></li>
        <li><a href="/admin/notification">Quản lý thông báo</a></li>
        <li><a href="/admin/parish-information">Quản lý thông tin giáo xứ</a></li>
        <li><a href="/admin/contact">Quản lý thông tin liên lạc</a></li>
        <li><a href="/admin/share-corner">Quản lý góc chia sẻ</a></li>
    </ul>
</aside>