<!DOCTYPE html>
<html lang="en" ng-app="XuanAnApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    {{> css}}
</head>

<body class="">

     {{{body}}}
     


     {{> js}}
     {{> angular}}

    <script src="/app/login/login.service.js"></script>
    <script src="/app/login/login.validator.js"></script>
    <script src="/app/login/login.controller.js"></script>
     
</body>

</html>